<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="container-fluid bg-grey">
        <div class="row">

            <!-- Sidebar starts-->
            <div class="sidebar col-2 d-none d-lg-block vh-100 px-0">
                <!--Navigation Pane  -->
                <div class="d-flex flex-column">
                    <a href="#" class="pizzashop-text"><img src="~/images/logos/pizzashop_logo.png" alt="pizza shop logo" width="60x"> PIZZASHOP</a>
                    <a asp-action="Dashboard" asp-controller="Profile" class="d-flex @((ViewData["sidebar-active"] as string) == "Dashboard" ? "side-dash" : "")"><img src="~/images/navigation/dashboard.svg" alt=""> Dashboard </a>
                    <a asp-action="UsersList" asp-controller="ManageUsers" class="d-flex @((ViewData["sidebar-active"] as string) == "Users" ? "side-dash" : "")"><img src="~/images/navigation/user.svg" alt=""> Users </a>
                    <a href="#"><img src="~/images/navigation/role.svg" alt=""> Role and Permission </a>
                    <a href="#"><img src="~/images/navigation/menu.png" alt="" height="20px"> Menu </a>
                    <a href="#"><img src="~/images/navigation/table.svg" alt=""> Table and Section </a>
                    <a href="#"><img src="~/images/navigation/taxes.svg" alt=""> Taxes and Fees </a>
                    <a href="#"><img src="~/images/navigation/orders.svg" alt=""> Orders </a>
                    <a href="#"><img src="~/images/navigation/customer.svg" alt=""> Customers </a>
                </div>
            </div>
            <!-- Sidebar ends-->

            <!-- Main content starts-->
            <div class="main-content col px-0">

                <!-- Navbar starts -->
                <nav>
                    <div class="d-flex justify-content-end p-3">
                        <div class="btn-group">
                            <a type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/Default_pfp.svg.png" alt="profile" height="35px">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li class="mb-2 ms-2 d-flex align-items-center">
                                    <img class="me-2" src="~/images/Default_pfp.svg.png" alt="" width="30px">
                                    <span>Admin@123</span>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" asp-action="MyProfile" asp-controller="Profile">
                                        <img class="me-2" src="~/images/Default_pfp.svg.png" alt="" height="24px">
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" asp-action="ChangePassword" asp-controller="Profile">
                                        <img class="me-2 opacity-50" src="~/images/icons/change-password.svg" alt="" height="20px">
                                        <span>Change Password</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#LogoutModal">
                                        <img class="me-2 opacity-50" src="~/images/icons/logout.svg" alt="" height="20px">
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Navbar ends -->
                
                <!-- User content starts -->
                <div class="px-5 py-2">
                    <main role="main" class="">
                        @RenderBody()
                    </main>
                </div>

            </div>
            <!-- User Content ends -->

            <!-- Logout Modal starts here -->
            <div class="modal fade" id="LogoutModal" data-bs-backdrop="LogoutModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="LogoutLabel">Logout</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                            <img src="~/images/icons/warning.svg" alt="" width="50px">
                            <span>Are you sure you want to logout?</span> 
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <a asp-action="Logout" asp-controller="Profile" type="button" class="btn btn-blue" >Yes</a>
                            <button type="button" class="btn btn-white" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- Logout Modal ends here  -->      
        </div>
        <!-- Main content ends -->
    </div> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

    
    
