@model DataAccessLayer.ViewModels.ResetPasswordViewModel;
@{
    ViewData["Title"] = "Reset Password Page";
    Layout = "_LoginLayout";
}

<div class="container-fluid bg-blue">
    <div class="row vh-100">
        <!-- Pizza image left section -->
        <div class="col-12 col-md-6 p-0">
            <img src="~/images/dominos_background.jpg" alt="pizza" class="hero-img">
        </div>
        
        <!-- Right section -->
        <div class="col-12 col-md-6 my-auto d-flex justify-content-center align-items-center">

            <div class="w-75 d-flex justify-content-center flex-column ">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <img src="~/images/logos/pizzashop_logo.png" class="pizzashop_logo me-2">
                    <span class="fs-1 hero-heading">PIZZASHOP</span>
                </div>

                <div class="d-flex">
                    <p class="fs-2 fw-bold">Reset your Password</p>
                </div>
                
                <div class="">
                    <form asp-controller="Dashboard" asp-action="ResetPassword" class="">
                        <!-- Email -->
                        <input asp-for="@Model.Email" value="@ViewBag.email" hidden>


                        <div class="input-group mb-3">
                            <input asp-for="@Model.NewPassword" type="password" class="form-control login-input p-2" id="inputPassword1" placeholder="New Password*">
                            <span class="input-group-text"><img src="~/images/icons/hidden.png" width="16px"></span>
                        </div>

                        <div class="input-group mb-3">
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control login-input p-2" id="inputPassword1" placeholder="Confirm New Password*">
                            <span class="input-group-text"><img src="~/images/icons/hidden.png" width="16px"></span>
                        </div>

                        <div lass="mb-3">
                            <button type="submit" class="btn login-btn w-100 mb-3">Submit</button>
                        </div>

                        <div class="d-flex align-items-center justify-content-center">
                            <a asp-controller="Home" asp-action="Login">Back to login</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>        
</div>