@using PizzaShop.Entity.ViewModels
@model TaxViewModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="mModalToggleLabel">Add Tax Modifier</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-action="SaveTax" asp-controller="Taxes" id="SaveTaxForm" method="Post">
    <div class="modal-body">
        <div class="form addTaxForm row">

            <input asp-for="TaxId" type="text" class="form-control" id="taxId" hidden>


            <div class="col-12 form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="" id="mName">
                <label asp-for="Name">Name*</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="Type" type="text" class="form-control" placeholder="">
                <label asp-for="Type">Type*</label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="TaxValue" type="text" class="form-control" placeholder="">
                <label asp-for="TaxValue">Tax Amount*</label>
                <span asp-validation-for="TaxValue" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 form-check form-switch mb-3 p-3 d-flex align-items-center">
                <input asp-for="IsEnabled" class="form-check-input m-0 fs-3" type="checkbox" role="switch">
                <label class="form-check-label p-1" asp-for="IsEnabled">IsEnabled</label>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 form-check form-switch mb-3 p-3 d-flex align-items-center">
                <input asp-for="Default" class="form-check-input m-0 fs-3" type="checkbox" role="switch"
                    id="">
                <label class="form-check-label p-1" asp-for="Default"> Default Tax</label>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-blue btn-modal" id="saveModifier">Save</button>
        <button type="button" class="btn btn-white btn-modal" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>
