@{
    ViewData["Title"] = "Taxes and Fees";
    Layout = "_Layout";
}

<!-- User heading, search and add button -->
<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3 ">
    <div>
        <h1 class="blue-text">Taxes/Fees</h1>
    </div>
    <div class="justify-content-end d-flex align-items-center">
        <div class="me-2">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search" id="searchTax">
                <button type="submit" class="input-group-text"> 
                    <img src="~/images/icons/search.svg" alt=""> 
                </button>
            </div>
        </div>
        <div>
            <a asp-action="SaveTax" asp-controller="Taxes" class="btn btn-blue text-nowrap" id="addTaxBtn"
            data-bs-toggle="modal" data-bs-target="#addTaxModal">
                + Add Tax
            </a>
        </div>
    </div>
</div>

<!-- Table -->
<div class="bg-white" id="taxContent">
    <!-- Tax Partial View -->
</div>

<!--------------------------------------Modals------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------->

<!-- Modal Add Tax starts -->
<div class="modal fade" id="addTaxModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="addTaxContent">
            <!-- Add Tax Partial View -->
        </div>
    </div>
</div>
<!-- Modal Add Tax Group ends -->





@section Scripts {

    @* Tax Pagination *@
    <script>
        $(document).ready(function () {
            TaxPaginationAjax(1);
        });

         $(document).on("change", "#taxesPerPage", function () {
            TaxPaginationAjax(1); // Reload data with new page size
        });

        $(document).on("input", "#searchTax", function () {
            TaxPaginationAjax(1); // Reload data with new page size
        });

        function TaxPaginationAjax(pageNumber) {
            if (!pageNumber) {
                pageNumber = @((Model?.ItemsPageVM?.Page?.CurrentPage ?? 1));
            }
            let pageSize = $("#taxesPerPage").val() || 5; // Default to 5 if no value selected
            let searchTax = $("#searchTax").val();

            $.ajax({
                url: '@Url.Action("GetAllTaxes", "Taxes")',
                data: {
                    'pageSize': pageSize,
                    'pageNumber': pageNumber,
                    'search': searchTax
                },
                type: "POST",
                dataType: "html",
                success: function (data) {
                    $("#taxContent").html(data);
                    $("#taxesPerPage").val(pageSize); // Reapply selected value after reload
                },
                error: function () {
                    console.log("There is error.Not successful");
                    alert("No Items Found");
                    $("#itemsListContent").html('An error has occurred');
                }
            });
        }
    </script>

    @* Add Tax Modal *@
    <script>
        $(document).on("click", "#addTaxBtn", function () {
            GetTax(0);
        });

        $(document).on("click", ".editTaxBtn", function () {
            console.log("Tax id on clicking icons ", $(this).data("id"));
            GetTax($(this).data("id"));
        });

        function GetTax(id) {
            $.ajax({
                url: '@Url.Action("GetTaxModal", "Taxes")',
                type: "GET",
                data: { taxId: id },
                dataType: "html",
                success: function (data) {
                    console.log(data);
                    $("#addTaxContent").html(data);
                },
                error: function () {
                    console.log("There is error.Not successful");
                    alert("No Tax Found");
                }
            })
        }
    </script>

    @* Add/Update Tax Form Submit *@
    <script>
        $(document).on("submit", "#SaveTaxForm", function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (data) {
                    $("#addTaxModal").hide;
                    toastr.success("Tax Added successfully!");
                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                },
                error: function () {
                    console.log("There is error.Not successful");
                }
            });
        });
    </script>

    @* Delete Tax  *@
    <script>
        let deleteTaxId;
        $(document).on("click", ".deleteTaxBtn", function () {
            deleteTaxId = $(this).data("id");
            console.log("Tax id is ", deleteTaxId);
        });

        $(document).on("click", "#confirmDeleteTax", function () {
            $.ajax({
                url: '@Url.Action("DeleteTax", "Taxes")',
                type: "POST",
                data: { taxId : deleteTaxId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        GetAllTaxes();
                    }
                    else {
                        toastr.error(response.message)
                    }
                },
                error: function () {
                    console.log("Tax not deleted!");
                }
            });
        });
    </script>
   
}
