@using PizzaShop.Entity.ViewModels

@model ModifierTabViewModel

<!----------------------------------------------------- Modifier Groups starts ------------------------------------------------------->
<div class="modifierGroup col-12 col-md-3 pt-2 bg-dark-grey">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <span class="fs-5 fw-bold blue-text">Modifier Group</span>
        <!-- Button trigger modal -->
        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#addMgModal"
            id="addModifierGroupBtn">
            <img src="~/images/icons/plus-square.svg" alt="" width="25px">
        </button>
    </div>

    <div class="modifierGroup-list pe-1">
        <ul class="pe-1" id="ul-modifierGroup">
            @foreach (var mg in Model.ModifierGroups)
            {
                <li class="d-flex justify-content-between li-modifierGroup" data-id="@mg.ModifierGroupId">
                    <a class="d-flex align-items-center">
                        <img src="~/images/icons/grid-3x2.svg" class="grid-img" id="">
                        <span class="modifierGroupName">@mg.Name</span>
                    </a>
                    <div class="EditDeleteModifierGroup">
                        <button class="btn p-0 pe-1 editModifierGroupBtn" data-bs-toggle="modal"
                            data-bs-target="#addMgModal" data-id="@mg.ModifierGroupId">
                            <img src="~/images/icons/edit.svg" alt="" />
                        </button>
                        <button class="btn p-0 pe-1 deleteMgBtn" data-bs-toggle="modal"
                            data-bs-target="#deleteModifierGroupModal" data-id="@mg.ModifierGroupId">
                            <img src="~/images/icons/delete.svg" alt="">
                        </button>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>
<!----------------------------------------------------- Modifier Groups ends ------------------------------------------------------->

<!----------------------------------------------------- Modifiers starts ------------------------------------------------------>
<div class="col pt-2" id="Modifiers-Content">
    <div class="fs-5 fw-bold blue-text">
        Modifiers
    </div>

    <div class="d-flex justify-content-end">
        <div class="input-group w-25 me-2">
            <input type="search" class="form-control" placeholder="Search" name="searchModifier" id="searchModifier">
            <button type="submit" class="input-group-text">
                <img src="~/images/icons/search.svg" alt="">
            </button>
        </div>
        <button class="btn border me-2" id="modifierMassDeleteBtn" data-bs-toggle="modal"
            data-bs-target="#massDeleteModifierModal">
            <img src="~/images/icons/delete.svg" alt="">
        </button>
        <button class="btn btn-blue me-2 newModifierBtn" id="addModifierBtn" data-bs-toggle="modal"
            data-bs-target="#addModifier">
            + New Modifier
        </button>
    </div>

    <div id="modifierTableOuter">
        <!-- Modifiers List Partial View -->
    </div>

</div>
<!----------------------------------------------------- Modifiers ends ------------------------------------------------------->



<!--------------------------------------Modals------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------->

<!-- Modal Add Modifier Group starts -->
<div class="modal fade" id="addMgModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="addMgContent">
            <!-- Add Modifier Partial View -->
        </div>
    </div>
</div>
<!-- Modal Add Modifier Group ends -->


<!-- Modal Add Existing Modifier in Modifier Group starts -->
<div class="modal fade" id="addExistingGroup" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Select Existing Modifier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form">
                        <div class="input-group w-50">
                            <input type="search" class="form-control" placeholder="Search" name="searchExistingModifier"
                                id="searchExistingModifier">
                            <button type="submit" class="input-group-text">
                                <img src="~/images/icons/search.svg" alt="">
                            </button>
                        </div>
                    </div>

                    <div id="existingModifiersContent">
                        <!-- Modifiers table Partial View -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue btn-modal" data-bs-target="#addMgModal"
                        data-bs-toggle="modal" id="addModifierToGroup">Add</button>
                    <button type="button" class="btn btn-white btn-modal" data-bs-target="#addMgModal"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Add Existing Modifier in Modifier Group ends -->

<!-- Modal Add Modifier  starts -->
<div class="modal fade" id="addModifier" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="addModifierModal">
            <!-- Add Modifier Partial View -->
        </div>
    </div>
</div>
<!-- Modal Add Modifier  ends -->

<!-- Modal Delete Modifier Group starts-->
<div class="modal fade" id="deleteModifierGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModifierModalLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <img src="~/images/icons/warning.svg" alt="" width="50px">
                <span>Are you sure you want to delete this modifier group?</span>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="confirmDeleteMg" type="button" class="btn btn-blue" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-white" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Modifier Group starts-->






@* for showing edit and delete icon on hovering *@
<script>
    $(".li-modifierGroup").mouseover(function () {
        $(this).children("div.EditDeleteModifierGroup").css("visibility", "visible");
    });
    $(".li-modifierGroup").mouseout(function () {
        $(this).children("div.EditDeleteModifierGroup").css("visibility", "hidden");
    });
</script>