@model MyProfileViewModel

@{
    ViewData["Title"] = "My Profile";
    Layout = "_SidebarLayout";
}

<!-- User heading, search and back button -->
<div class="d-flex justify-content-between users mb-3">
    <h1 class="blue-text">Change Password</h1>
    <a asp-controller="Users" asp-action="Index" class="btn btn-white">
        <img src="~/images/icons/chevron-left-blue.svg" alt="Back">
        <span>Back</span>
    </a>
</div>
